html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
body {
  background: #fff;
}
.body-bg {
  opacity: 0.55;

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .body-bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
  }
  /* to whiten the background pic when showing the content of a project */
.body-bg-show {
  opacity: 0.1;
  }

#outer {
  height: 100%;
}
#top {
  height: 9%;
  min-height: 60px;
}
#menu {
  position: relative;
  top: 50%;
  float: right;
  font-weight: 300;
  font-size: 1.8em;
  margin-top: -17px;
  color: rgba(2, 2, 2, 2.8);
}
#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#menu li {
  display: inline-block;
  border-left: 2px solid #000;
  padding: 0 35px;
  cursor: pointer;
}
#menu li:hover {
  background: #111;
  color: #fff;
}
#menu .menu-hidden {
  display: none;
}
#menu li:first-child {
  border-left: 0;
}
#title {
  position: relative;
  top: 50%;
  margin-top: -19px;
  float: left;
}
#title span {
  font-weight: 400;
}
#title h1 {
  margin: 0 0 0 30px;
  padding: 0;
  font-weight: 100;
  color: #222;
}
#main {
  height: 75%;
  width: 100%;
  position: relative;
}

.portfolio_main {
  overflow-x: scroll;
  overflow-y: hidden;
}

#footer {
  height: 21%;
}
#socialBtns {
  text-align: right;
  width: 130px;
  float: right;
  margin-top: 10px;
}
#socialBtns span {
  margin-right: 10px;
}
#socialBtns img {
  width: 50px;
  height: auto;
}
.landing {
  height: 100%;
  background-color: rgba(8, 8, 8, 0.8);
}
#landing {
  text-align: center;
}
#landing img {
  position: relative;
  top: 50%;
  width: 70%;
}
.slide {
  display: none;
  height: 100%;
  background-color: rgba(8, 8, 8, 0.4);
  position: relative;
  overflow: hidden;

}
.project-slide-wrapper {
  margin: 0 auto;
  width: 1200px;
  height: 463px;
  position: relative;
  top: 50%;

}
.project-slide {
  text-align: center;
  position: relative;
  top:50%;
}
.sl-slide-inner .bg-img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.sl-slide-inner .bg-img-1 {
  background: url('../img/project-select-pic/Intro_Thesis.jpg') no-repeat center center;
  background-size: 100%;
}
.sl-slide-inner .bg-img-2 {
  background: url('../img/project-select-pic/Intro_Roku.jpg') no-repeat center center;
  background-size: 100%;
}
.sl-slide-inner .bg-img-3 {
  background: url('../img/project-select-pic/Intro_AMC.jpg') no-repeat center center;
  background-size: 100%;
}

.project-slide img,  {
  
 width: 1200px;
  /*margin-top: -231.5px;*/
/*  width: 980px;
  margin-top: -189px;*/
}
.portfolio {
  display: none;
  height: 100%;
}
.portfolio-pic {
  height: 100%;
}
.normal-page {
  height: 100%;
}


#about {
  background-color: rgba(8, 8, 8, 0.4)
  display: none;
}
